<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Culture dependent stuff will produce unittest errors in certain cultures. Change appsettings to appropiate culture -->
    <add key="TestBool" value="true" />
    <add key="TestDateTime" value="2016-08-05" />
    <add key="TestDecimal" value="5.60" /> 
    <add key="TestDouble" value="6.70" /> 
    <add key="TestFloat" value="7.60" /> 
    <add key="TestInt" value="7" /> 
    <add key="TestPerson" value="John,32" /> 
    <add key="TestString" value="TestStringValue" /> 
    <add key="TestTimeSpan" value="10:07:30" />
    <add key="TestEnum" value="SecondValue" />
  </appSettings>
</configuration>